<div class="main-container">
    <div class="row min-height-600 no-flex-wrap">
        <div class="card col-md-2 mr-2">
            <div class="col" style="padding-left: 0px;padding-right: 0px;">
                <div>
                    <h5 style="color: blueviolet;">Gestion de Stock V2.0</h5>
                </div>
                <div>
                    <app-menu></app-menu>
                </div>
            </div>
        </div>
        <div class="card col-md-10 background-grey border-none" style="padding-left: 0px;padding-right: 0px;">
            <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
                <div class="card min-height-80 mb-2">
                    <app-header></app-header>
                </div>
                <div class="card min-height-480 mb-2">
                    <router-outlet></router-outlet>
                </div>
                <div class="card min-height-80">
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
</div>
