<div class="col m-3">
    
    <hr/>
    <div class="col-md-12 mb-3 mt-3">
      <h2>Nouvelle commande {{origin}}</h2>
    </div>
    
        <div class="row custom-border p-3">
            <div class="col-md-5 border-right">
                <form>
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Code Commande">
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control" placeholder="Date commande">
                    </div>
                    <div class="mb-3">
                        <select class="form-control">
                            <option>Selectionner un client</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                      </div>
                  </form>
            </div>
            <div class="col-md-5 border-right">
                <div class="col">
                    <div class="row">
                      <div class="col-md-1 blue-color"><i class="fas fa-info-circle blue-color"></i></div>
                      <div class="col-md-10">Nom</div>
                    </div>
                    <div class="row">
                      <div class="col-md-1 blue-color"><i class="fas fa-info-circle blue-color"></i></div>
                      <div class="col-md-10">Prenom</div>
                    </div>
                    <div class="row">
                      <div class="col-md-1 blue-color"><i class="fas fa-phone-alt blue-color"></i></div>
                      <div class="col-md-10">0758000000</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 blue-color"><i class="fas fa-hourglass-half"></i></div>
                        <div class="col-md-10">En Preparation</div>
                      </div>
                  </div>
            </div>
            <div class="col-md-2">
                <img src="assets/product.png" width="100" height="100" class="rounded-circle"/>
            </div>
        </div>
    </div>
    <div class="row custom-border m-1">
        <form class="m-3">
            <div class="row ">
              <div class="col">
                <input type="text" class="form-control" placeholder="Code article">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Quantite">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Prix unitaire">
              </div>
              <div class="col">
                  <button type="button" class="btn btn-primary"><i class="fas fa-plus"></i></button>
              </div>
            </div>
          </form>
    </div>
    <div class="row m-2 custom-border mt-2 p-3" style="overflow-y: scroll;">
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
        <app-detail-cmd></app-detail-cmd>
    </div>
    <div class="row custom-border m-2" style="text-align: right;">
      <h3>Total de la commande : 139,5</h3>
    </div>
        <div class="col-md-12 m-1" style="text-align: right;">
            <button class="btn btn-danger" style="margin-right: 3px;">
                <i class="fas fa-ban"></i>&nbsp;Supprimer</button>
            <button class="btn btn-primary" style="margin-right: 4px;">
                <i class="fas fa-save"></i>&nbsp;Enregister</button>
        </div>

    
