<div class="row mb-1 custom-border">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1 ">
            <img src="assets/product.png" width="80px" height="80px" class="rounded-circle"/>
    </div>
        <!--  Details article-->
  <div class="col-md-5 border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1 blue-color"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1 blue-color"><i class="fas fa-info-circle blue-color"></i></div>
        <div class="col-md-10">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1 blue-color"><i class="fas fa-phone-alt blue-color"></i></div>
        <div class="col-md-10">0758000000</div>
      </div>
    </div>
  </div>
    
    <!--Details Categorie-->
    

    <!--  details commande-->
  <div class="col-md-3 border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-12">
          <i class="fas fa-qrcode"></i>&nbsp;CMD-12345678</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <i class="fas fa-calendar-check"></i>&nbsp;12.09.2021</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <i class="fas fa-cart-arrow-down"></i>&nbsp;LIVREE</div>
      </div>
    </div>
  </div>
    <!--  boutons action-->
  <div class="col-md-3 mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-alt"></i>&nbsp;
          Modifier
        </button>
      </div>
      <div class="col-md-6 text-center" style="color: red;">
        <button type="button" class="btn btn-link">
          <i class="fas fa-trash-alt"></i>&nbsp;
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>


