<div class="col">
    <div class="row">
        <div class="col-md-8">
            <h1>Mouvement du Stock</h1>
        </div>
        <div class="col-md-4" style="text-align: right;">
            <app-bouton-action></app-bouton-action>
        </div>
    </div>
    <div class="col m-3">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item mb-2">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <app-detail-mvt-stock-article></app-detail-mvt-stock-article>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample"
              style="max-height: 300px;overflow-y: scroll;">
                <div class="accordion-body">
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                </div>
              </div>
            </div>
          

          <!---->
          
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <app-detail-mvt-stock-article></app-detail-mvt-stock-article>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample"
              style="max-height: 300px;overflow-y: scroll;">
                <div class="accordion-body">
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                    <app-detail-mtv-stock></app-detail-mtv-stock>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="row" style="text-align: center;">
        <app-pagination></app-pagination>
    </div>
</div>