<div class="row mb-1 custom-border">

    <!--Details Produits-->
    <div class="col-md-3 border-right">
        <div class="row text-center">
            <div class="col-md-12">Code article</div>
        </div>
    </div>
    <!--Details Categorie-->
    <div class="col-md-3 border-right">
        <div class="row">
                <h5>Désignation article</h5>
        </div>
    </div>
    <div class="col-md-2 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 text-center">
                6
            </div>
        </div>
    </div>
    <div class="col-md-2 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 text-center">
                12,3
            </div>
        </div>
    </div>
    <!--Bouton action-->
    <div class="col-md-2 border-right mb-1 mt-1">
        <div class="row ">  
            <div class="col-md-12 text-center" >
                73,8
           </div>         
        </div>
    </div>
</div>