<div class="row mb-1 custom-border">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1 ">
            <img src="assets/product.png" width="80px" height="80px" class="rounded-circle"/>
    </div>
    <!--Details Produits-->
    <div class="col-md-5 border-right">
        <div class="col">
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fa fa-info-circle"></i></div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fa fa-info-circle"></i></div>
                <div class="col-md-11">Prénom</div>
            </div>
            <div class="row">
                <div class="col-md-1 blue-color"><i class="fas fa-phone-alt"></i></div>
                <div class="col-md-11">0620000000</div>
            </div>
        </div>
    </div>
    <!--Details Categorie-->
    <div class="col-md-3 border-right">
        <div class="col">
            <div class="row">
                
                <div class="col-md-12 ">
                    <i class="fas fa-home blue-color"></i>&nbsp;Addresse 1 adresse 2</div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <i class="fas fa-map-marker-alt blue-color"></i>&nbsp;35000 Ville</div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <i class="fas fa-globe-europe blue-color"></i>&nbsp;Pays</div>
            </div>
        </div>
    </div>
    <!--Bouton action-->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-pencil-alt"></i>&nbsp;Modifier</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link text-danger">
                    <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                    <i class="far fa-list-alt"></i>&nbsp;Details</button>
            </div>
        </div>
    </div>
</div>