<div class="row mb-1 custom-border">

    <!--Details Produits-->
    <div class="col-md-3 border-right">
        <div class="row text-center">
            <div class="col-md-12">12.12.2021</div>
        </div>
    </div>
    <!--Details Categorie-->
    <div class="col-md-3 border-right">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>139</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>Sortie</h5>
            </div>
        </div>
    </div>
    <!--Bouton action-->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row ">  
            <div class="col-md-12 text-center" >
                COMMANDE CLIENT
           </div>         
        </div>
    </div>
</div>