<div class="col">
    <div class="row">
        <div class="col-md-8">
            <h1>Liste des Clients</h1>
        </div>
        <div class="col-md-4" style="text-align: right;">
            <app-bouton-action></app-bouton-action>
        </div>
    </div>
    <div class="col m-3">
       <app-detail-clt-frs></app-detail-clt-frs>
       <app-detail-clt-frs></app-detail-clt-frs>
       <app-detail-clt-frs></app-detail-clt-frs>
       <app-detail-clt-frs></app-detail-clt-frs>
    </div>
    <div class="row" style="text-align: center;">
        <app-pagination></app-pagination>
    </div>
</div>