<div class="col m-3">
    <div class="col-md-12 mb-3">
        <img src="assets/product.png" width="100" height="100" class="rounded-circle"/>
    </div>
    <hr/>
        <div class="col-md-12 blue-color mb-3">
            <i class="fas fa-info"></i>&nbsp;Information de l'article
        </div>
    
        <div class="col-md-12">
            <div class="row mb-1 pr-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Code article" aria-label="Code article">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Désignation" aria-label="Désignation">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Prix unitaire HT" aria-label="Prix unitaire HT">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Taux TVA" aria-label="Taux TVA">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Prix unitaire TTC" aria-label="Prix unitaire HT">
                </div>
                <div class="col">
                    <select id="inputState" class="form-select">
                        <option selected>Selectionner une catégorie</option>
                        <option>CAT-1234</option>
                        <option>CAT-5678</option>
                    </select>                
                </div>
            </div>
        </div>
        <div class="col-md-12" style="text-align: right;">
            <button class="btn btn-danger" style="margin-right: 3px;" (click)="cancelClick()">
                <i class="fas fa-ban"></i>&nbsp;Supprimer</button>
            <button class="btn btn-primary">
                <i class="fas fa-save"></i>&nbsp;Enregister</button>
        </div>

    
</div>